.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  box-sizing: border-box;
  max-width: 390px;
  margin-right: -50px;
  /* position: absolute; */
  /* left: 1203px; */
  /* left: 62.6%; */
  /* top: 137px; */
  /* top: 15%; */
  /* max-height: 305px; */
  /* background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%); */
  /* -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0)), linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0)); */
  mask-image: linear-gradient(to right, rgba(0,0,0,1) 10%, rgba(0,0,0,0.50) 50%);



}
